@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

body {
  background: #333;
}

header {
  text-align: center;
  background-color: rgb(90, 150, 220);
  color: #f3f3f3;
}

.nav-top {
  padding: 15px;
}

header h1 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: 100;
}

header h2 {
  font-weight: 100;
}

.nav-down {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  justify-content: space-around;
  color: rgb(90, 150, 220);
}

.nav-down .opt,
.newgame {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 1000;
  padding: 10px;
}

.difficulty {
  display: flex;
}

.nav-down .opt:hover,
.newgame:hover {
  background: rgb(90, 150, 220);
  color: #f3f3f3;
}

.active {
  background: rgb(90, 150, 220);
  color: #f3f3f3;
}

/* Utilitys */

.mp {
  margin: 0 5px;
  padding: 0 5px;
}

/*Squares*/
.container {
  max-width: 600px;
  margin: 0 auto;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  transition: all 0.5s;
  border-radius: 10px;
  float: left;
}
